<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546608209753-iilhoqrijdno8nvkpo3eor6r3099dsa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546608209753-iilhoqrijdno8nvkpo3eor6r3099dsa0</string>
	<key>API_KEY</key>
	<string>AIzaSyAlSIKJLe7wqu4jB1hCwAbF4XMqmYTsY1I</string>
	<key>GCM_SENDER_ID</key>
	<string>546608209753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artermisstudio.best.ringtone</string>
	<key>PROJECT_ID</key>
	<string>best-ringtones-for-iphone</string>
	<key>STORAGE_BUCKET</key>
	<string>best-ringtones-for-iphone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546608209753:ios:3c31b456bb21090a4d7648</string>
</dict>
</plist>